/*Jena Zamora 5/8/26 Styles Page*/
* {
  margin: 5px;
  padding:2px;
  box-sizing: border-box;
}

header {
  background: #1f43e2;
  color: rgb(209, 228, 233);
  text-align: center;
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  }


body {
  font-family:'Times New Roman', 'Times', 'serif';
  background: #80c5d1;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
  min-height: 100vh;
  }

h6 {
  padding:5px;
  font-size: .5em;
  font-weight: lighter;
}


nav ul{
  background-color: #33c2db;
  list-style: none;
  padding: 10px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.wrapper{
  width: 95%;
  margin: 0 auto;
  background: rgb(209, 228, 233);
  padding: 5px;
  border-radius: 5px;
}


.grid-wrapper{
  display:grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap:20px;
}


ol{
    text-align: left;
}


ul{
    padding: 20px;
    text-align: left;
}


li{
  margin:0 20px;
}

nav a {
  display: inline;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: bold;
}

nav a:hover {
  background-color: rgb(209, 228, 233);
  color:#1f43e2;
}


section{
    padding: 20px;
}

main{
  text-align: center;
  color: black;
}

img{
  max-width: 85%;
  max-height: 45%;
  padding: 15px;
  object-fit: cover;
}

a {
  color: #1f43e2;
  text-decoration: none;
  display:inline-block;
  transition: transform 0.3 ease;
}

a:hover{
    color:black;
    transform: scale(1.2);
}

footer {
  clear: both;
  background: #1f43e2;
  color: rgb(209, 228, 233);
  text-align: center;
}

.container{
  padding:20px;
}

.form-group{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 15px;
}


.radio-group {
  padding: 10px;
  border-radius: 6px;
}


.radio-group label {
  display: block;
  margin: 5px 0;
}

button {
  background-color: #80c5d1;
  color: white;
  border-color: #1f43e2;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 700px) {
    body{
        padding: 10px;
    }
    
    .container{
        flex-direction: column;
        width:100%;
    }

    .column{
        width:100%;
    }

    img{
        width:100%;
        height: auto;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items:center;
        gap:10px;
        font-size:1.5rem;
        line-height: 1.2;
        text-align: center;
    }

    h1{
        font-size: 1.8rem;
    }

    p{
        font-size: 1rem;
    }

    button{
        width: 100%;
    }
}